<div class="row">
  <div class="col-md-6">
    <div class="restaurant-tile shadow">
      {{star-rating rating=rating}}
      <div class="restaurant-tile__image">
        <img src="{{restaurant.image}}" alt="{{restaurant.name}}" class="image-filling"/>
      </div>
      <div class="restaurant-tile__description">
        {{#unless onFavoritePage}}
          {{is-favorite restaurant=restaurant}}
        {{/unless}}
        <div>
          <p><strong>Name: </strong>{{restaurant.name}}</p>
        </div>
        <div>
          <p><strong>Cuisine: </strong>{{restaurant.cuisine}}</p>
        </div>
        <div>
          <p><strong>Address: </strong>{{restaurant.address}}</p>
        </div>
        <div>
          <p><strong>Contact: </strong>{{restaurant.phone}}</p>
        </div>
        <div>
        <p><strong>Rating: </strong>{{restaurant.rating}}</p>
        </div>
      </div>
      <div class="review-new btn--float-right">
        {{#if isFormReviewShowes}}
          <button {{action 'closeNewReviewForm'}} class="btn btn-default">Close review</button>
          {{review-new restaurant=restaurant addReview="addReview" closeNewReviewForm="closeNewReviewForm"}}
        {{else}}
          <button {{action 'openNewReviewForm'}} class="btn btn-default">Add review</button>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="restaurant-review">
      {{review-form reviews=restaurant.reviews}}
    </div>
  </div>
</div>
