<div class="restaurant-tile">
  <div class="restaurant-tile__image">
    <img src="{{restaurant.image}}" alt="{{restaurant.name}}" class="image-filling"/>
  </div>
  <div class="restaurant-tile__description">
    <div class="inline">
      <span>Name: </span><h3>{{restaurant.name}}</h3>
    </div>
    <div class="inline">
      <span>Cuisine: </span><h4>{{restaurant.cuisine}}</h4>
    </div>
    <div class="inline">
      <span>Address: </span><h4>{{restaurant.address}}</h4>
    </div>
    <div class="inline">
      <span>Contact: </span><h4>{{restaurant.phone}}</h4>
    </div>
    <div class="inline">
      <span>Rating: </span><h4>{{restaurant.rating}}</h4>
    </div>
  </div>
</div>
